# This is a simple build workflow for Liquibase Pro

name: buildsql_with_prevalidate

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events
  push:
    branches:
      - 'main'
      - 'development'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: [ self-hosted, windows ]
    # runs-on: [ self-hosted, linux ]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      # Prints the contexts
      - name: Print the github context
        run:  echo "$GITHUB_CONTEXT"
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
      
      # Runs the Packager commands for Linux
      - name: Package (Linux)
        env: 
          LB_FLOW_ENV: "DEV"
          LB_FLOW_DIR: flows
          LB_BUILD: "${{ github.repository }}-${{ github.run_number }}"          
      
        if: runner.os == 'Linux'
        run: |
          whoami
          PATH="$PATH:/opt/Liquibase"
          echo $PATH
          liquibase flow --flow-file=flows/validate-changes-update-db.yaml
          
      # Runs the Packager commands for Windows
      - name: Package (Windows)
        env: 
          LB_FLOW_ENV: "DEV"
          LB_FLOW_DIR: flows
          LB_BUILD: "${{ github.repository }}-${{ github.run_number }}"
          
        if: runner.os == 'Windows'
        run: |
          whoami
          $Env:Path += ";C:\apps\Liquibase"
          echo $Env:Path
          liquibase flow --flow-file=flows/validate-changes-update-db.yaml
          
      - name: Create Artifact
        uses: actions/upload-artifact@v2
        with:
          name: liquibase-repo
          path: |
            project

