####################################################################
#  GitHub Action for Snowflake with PreValidate and LiquibasePro
#  Environments: DEV, TEST, PROD
#####################################################################
name: 'Liquibase Pro with Snowflake Prevalidate'
run-name: ${{ inputs.environment}} connect by ${{ github.actor }}

on:

  workflow_dispatch:
    # Following are the inputs received via the GitHubActions Run workflow dialog
    inputs:
      # The type 'environment' will automatically pull in the environments created in GitHub
      environment:
        description: 'Environment to connect'
        type: environment
        required: true

####################################################################
#  Set up the environment
#####################################################################
env:
  
  # AWS Access credentials use by the Liquibase Pro AWS Secrets Extension
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  # Default AWS region
  AWS_REGION: us-east-1

  # GitHub Environment
  ENVIRONMENT: ${{ inputs.environment }}
  
  LIQUIBASE_LICENSE_KEY: "aws-secrets,asmith_snowflake,license"
  
  # JDBC URL of the database per environment
  # See https://docs.liquibase.com/workflows/liquibase-community/using-jdbc-url-in-liquibase.html
  LIQUIBASE_COMMAND_URL: "aws-secrets,asmith_snowflake,${{ inputs.environment }}_url"

  # Credentials for the environment's database https://docs.liquibase.com/parameters/command-parameters.html
  LIQUIBASE_COMMAND_USERNAME: "aws-secrets,asmith_snowflake,${{ inputs.environment }}_username"
  LIQUIBASE_COMMAND_PASSWORD: "aws-secrets,asmith_snowflake,${{ inputs.environment }}_password"
  LIQUIBASE_SNOWFLAKE_AUTH_PRIVATE_KEY_PATH: snowflake_key.pem  
  
  # Liquibase schema: Specified to allow flexibility in storage of Liquibase Change Tracking Tables
  # See https://docs.liquibase.com/parameters/liquibase-schema-name.html
  LIQUIBASE_LIQUIBASE_SCHEMA_NAME: ${{ inputs.environment }}2
  
  # Default schema: Specify schema for all changes
  LIQUIBASE_COMMAND_DEFAULT_SCHEMA_NAME: ${{ inputs.environment }}2
  
  # Search path (See https://docs.liquibase.com/concepts/changelogs/how-liquibase-finds-files.html)
  LIQUIBASE_SEARCH_PATH: flows, checks, changelogs
  
  # The database changelog. See https://docs.liquibase.com/concepts/changelogs/working-with-changelogs.html
  LIQUIBASE_COMMAND_CHANGELOG_FILE: changelog.xml
  
  LB_ENVIRONMENT: ${{ inputs.environment }}
  
  # Prevalidate parameters
  ACCT_NAME: "aws-secrets,asmith_snowflake,acct_name" 
  #CLONED_URL: jdbc url to the cloned database/schema
  CLONED_UID: "aws-secrets,asmith_snowflake,${{ inputs.environment }}_username"
  CLONED_PW: "aws-secrets,asmith_snowflake,${{ inputs.environment }}_password"
  #SNOWSQL_PWD: the password for connecting to the original database\schema with clone permissions
  CLONED_DB: "ASDB"
  CLONED_SCHEMA: ${{ inputs.environment }}2
  
jobs:
  build:
    runs-on: [ self-hosted, Linux ]

    steps:
      - uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          
      - name: Get Snowflake private key from AWS Secrets Manager
        run: |
          aws secretsmanager get-secret-value \
            --secret-id asmith_snowflake_pem \
            --query SecretString \
            --output text > snowflake_key.pem
          chmod 600 snowflake_key.pem      

      - name: Run Liquibase       
        run: |
          liquibase -v
          snowsql -v
          liquibase flow --flow-file=liquibase.flowfile-wprevalidate.yaml
       

