####################################################################
#  GitHub Action to perform an environment-targeted deployment of
#  database changes using Liquibase Pro, Liquibase Pro Flows,
#  Custom Quality checks and S3.
#####################################################################
name: 'Snowflake - Liquibase Pro Deployment Job'
run-name: ${{ inputs.environment}} deployment of current repo by ${{ github.actor }}

on:

  workflow_dispatch:
    # Following are the inputs received via the GitHubActions Run workflow dialog
    inputs:
      # The type 'environment' will automatically pull in the environments created in GitHub
      environment:
        description: 'Environment for deployment'
        type: environment
        required: true

      lb_tag:
        description: 'Optional tag for the build'
        type: string
        required: false
        
      check_drift:
        description: 'Check for Drift Detection'
        type: boolean
        required: true
        default: true

####################################################################
#  Set up the environment
#####################################################################
env:
  # AWS S3 bucket is the host part of the S3 bucket
  AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
  
  # AWS Access credentials use by the Liquibase Pro S3 Extension
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}

  # Default AWS region
  AWS_REGION: us-east-1
  
  # Pro License key
  # See https://docs.liquibase.com/workflows/liquibase-pro/how-to-apply-your-liquibase-pro-license-key.html
  LIQUIBASE_LICENSE_KEY: ${{ secrets.LIQUIBASE_PRO_LICENSE_KEY }}
  
  # JDBC URL of the database per environment
  # See https://docs.liquibase.com/workflows/liquibase-community/using-jdbc-url-in-liquibase.html
  LIQUIBASE_COMMAND_URL: ${{ secrets.SNOW_LIQUIBASE_URL }}

  # Credentials for the environment's database https://docs.liquibase.com/parameters/command-parameters.html
  LIQUIBASE_COMMAND_USERNAME: ${{ secrets.SNOW_LIQUIBASE_USERNAME }}
  LIQUIBASE_COMMAND_PASSWORD: ${{ secrets.SNOW_LIQUIBASE_PASSWORD }}

  # Liquibase schema: Specified to allow flexibility in storage of Liquibase Change Tracking Tables
  # See https://docs.liquibase.com/parameters/liquibase-schema-name.html
  LIQUIBASE_LIQUIBASE_SCHEMA_NAME: SALES_${{ inputs.environment }}
  
  # Default schema: Specify schema for all changes
  LIQUIBASE_COMMAND_DEFAULT_SCHEMA_NAME: SALES_${{ inputs.environment }}
  # LIQUIBASE_COMMAND_REFERENCE_DEFAULT_SCHEMA_NAME: Sales

  # Search path (See https://docs.liquibase.com/concepts/changelogs/how-liquibase-finds-files.html)
  LIQUIBASE_SEARCH_PATH: flows, checks, changelogs, s3://${{ secrets.AWS_S3_BUCKET }}/snowflake_snapshots/
  
  # The database changelog. See https://docs.liquibase.com/concepts/changelogs/working-with-changelogs.html
  LIQUIBASE_COMMAND_CHANGELOG_FILE: changelog.xml
  
  ENVIRONMENT: ${{ inputs.environment }}
  LB_TAG: ${{ github.event.inputs.lb_tag || github.run_number }}
  LIQUIBASE_REPORT_PATH: s3://${{ secrets.AWS_S3_BUCKET }}/snow_reports
  # Values: OFF, SEVERE, WARNING, INFO, FINE
  LIQUIBASE_LOG_LEVEL: INFO
  LB_CHECK_DRIFT: ${{ github.event.inputs.check_drift }}
  LB_SCHEMAS: "SALES_${{ inputs.environment }}"
  LIQUIBASE_COMMAND_CHECKS_RUN_CHECKS_SETTINGS_FILE: snowflake.checks-settings.conf

jobs:
  #########################################################################
  #  Deploy
  #########################################################################

  database-deploy:
    runs-on: [self-hosted]
    environment: ${{ inputs.environment }}
    
    # Specify the Docker container to use for the job
    container:
      image: liquibase/liquibase:latest
      options: --user root
      
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: Install Extensions Using LPM
      run: |
        lpm update
        lpm add liquibase-s3-extension
      
    - name: Flows
      uses: liquibase-github-actions/flow@v4.32.0
      with:
          flowFile: "liquibase-deploy.flowfile.yaml"
