####################################################################
#  GitHub Action to connect to a db using AWS Secrets
#  Snowflake, and Liquibase Pro.
#  Environments: DEV, TEST, PROD
#####################################################################
name: 'Liquibase Pro Connect with AWS Secrets'
run-name: ${{ inputs.environment}} connect by ${{ github.actor }}

on:
  workflow_dispatch:
    # Following are the inputs received via the GitHubActions Run workflow dialog
    inputs:
      # The type 'environment' will automatically pull in the environments created in GitHub
      environment:
        description: 'Environment to connect'
        type: environment
        required: true

####################################################################
#  Set up the environment
#####################################################################
env:
  
  # AWS Access credentials use by the Liquibase Pro AWS Secrets Extension
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  # AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}

  # Default AWS region
  AWS_REGION: us-east-1

  # GitHub Environment
  ENVIRONMENT: ${{ inputs.environment }}
  
  LIQUIBASE_LICENSE_KEY: "aws-secrets,asmith_snowflake,license"
  
  # JDBC URL of the database per environment
  # See https://docs.liquibase.com/workflows/liquibase-community/using-jdbc-url-in-liquibase.html
  LIQUIBASE_COMMAND_URL: "aws-secrets,asmith_snowflake,${{ inputs.environment }}_url"

  # Credentials for the environment's database https://docs.liquibase.com/parameters/command-parameters.html
  LIQUIBASE_COMMAND_USERNAME: "aws-secrets,asmith_snowflake,${{ inputs.environment }}_username"
  LIQUIBASE_COMMAND_PASSWORD: "aws-secrets,asmith_snowflake,${{ inputs.environment }}_password"
  LIQUIBASE_SNOWFLAKE_AUTH_TYPE: PKI  
  LIQUIBASE_SNOWFLAKE_AUTH_PRIVATE_KEY_PATH: snowflake_key.pem
  SNOWFLAKE_SECRET_ID: asmith_snowflake_pem  

jobs:
  #########################################################################
  #  Connect
  #########################################################################
  connect:
    runs-on: [self-hosted]
    environment: ${{ inputs.environment }}
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Liquibase Environment
      uses: ./.github/workflows/setup-liquibase

    - name: Setup Snowflake Credentials
      uses: ./.github/workflows/setup-snowflake-creds
      with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}
          snowflake-secret-id: ${{ env.SNOWFLAKE_SECRET_ID }}
          key-file-name: ${{ env.LIQUIBASE_SNOWFLAKE_AUTH_PRIVATE_KEY_PATH }}   

    - name: Liquibase connect
      run: liquibase connect --classpath=liquibase-aws-extension.jar